<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>mkfree-deploy</title>
    <link rel="stylesheet" href="/index.css"/>
    <script>
        var API_HOST = 'http://localhost:8091';
    </script>
</head>
<body>

<div id="root"></div>

<script src="/index.js"></script>
<script type="text/javascript">
    /**
     * 扩展Array groupBy 方法
     * @param prop
     * @returns {*}
     */
    Array.prototype.groupBy = function (prop) {
        return this.reduce((groups, item) => {
            const val = item[prop];
            groups[val] = groups[val] || [];
            groups[val].push(item);
            return groups;
        }, {});
    };

    if (location.pathname !== '/deploy/install') {
        fetch(API_HOST + '/api/installed').then(response => response.json())
            .then(result => {
                if (!result.data) {
                    location.replace('/deploy/install');
                }
            })
            .catch(e => console.log("Oops, error", e))
    }
</script>
</body>
</html>
