
.page_wrapper{
  background: #ECECEC;
  height: 100%;
  overflow: hidden;
}

.logo{
  height:79px;
  line-height: 79px;
  padding: 0 48px;
  background: #ffffff;
  color: #108ee9;
}

.normal {
    margin: 20px 48px;
    padding-top: 20px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    background: #ffffff;
    height: 100%;
}

.content {
    flex:1;
    display: flex;
}

.main {
    padding: 50px 20px;
    flex: 1 0 auto;
}
